.section {
  padding-top: 60px;
  padding-bottom: 60px;
  @include desktop {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-title {
  color: var(--title-color);
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  @include desktop {
    font-size: 36px;
  }
}

.section__label {
  color: var(--title-color);
  font-size: 14px;
  line-height: 1.14;
}
